$accent: #34C759;
$bg: #191919;
$slider: #252525;
$title: #D9D9D9;
$uppercase: #303030;
$text: #A6A6A6;
$card-text: #929292;
$dish-subtitle: #A4A8B2;
$dish-text: #85878C;
$star: #F9AD3D;
$accent-block: #4D4D4D;

// $black-900: #000;
// $black-800: #252525;