.about {
  position: relative;
  padding-bottom: 100px;
  z-index: 100;

  @include r(767) {
    padding-bottom: 80px;
  }

  @include r(480) {
    padding-bottom: 30px;
  }

  &__inner {
    padding: 100px 186px 90px;
    background-color: $slider;
    border-radius: 6px;

    @include r(1199) {
      padding: 70px;
    }

    @include r(767) {
      padding: 50px;
    }

    @include r(480) {
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 54px;
    opacity: 0.9;
  }

  &__text {
    margin-bottom: 80px;
    font-size: 16px;
    text-align: center;

    @extend %text-hiding;
    -webkit-line-clamp: 6;

    @include r(991) {
      margin-bottom: 40px;
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-between;

    align-items: center;

    // @include r(1199) {
    //   justify-content: center;
    // }
  }

  &__slider {
    position: relative;

    .slick-prev,
    .slick-next {
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #303030;
      fill: #303030;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px;

      position: absolute;
      z-index: 100;
      transform: translateY(100%);
      top: 50px;
      transition: all 0.4s;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        fill: $accent;
        border-color: $accent;
      }

      &:focus {
        fill: $star;
        border-color: $star;
      }

      &:active {
        fill: $text;
        border-color: $text;
      }
    }

    .slick-prev {
      left: -17%;

      @include r(1199) {
        left: 0;
      }
    }

    .slick-next {
      right: -17%;

      @include r(1199) {
        right: 0;
      }
    }
  }

  &__item {
    display: flex !important;
    justify-content: center;

    @include r(1199) {
      // margin: 0 auto;
    }

    a {
      display: block;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__img {
    max-width: 350px;
    max-height: 270px;
    object-fit: cover;

    @include r(991) {
      max-width: 335px;
    }

    @include r(480) {
      max-width: 270px;
    }
  }
}