.chefs {
  padding: 100px 0 130px;
  background-color: $bg;

  @include r(767) {
    padding: 80px 0;
  }

  @include r(480) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-around;

    @include r(1199) {
      flex-wrap: wrap;
    }

    li {
      &:not(:last-child) {
        margin-right: 10px;

        @include r(480) {
          margin-right: 0px;
        }
      }
    }

  }

  .chef-card {

    @include r(1199) {
      margin-bottom: 20px;
    }

    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &__link {
      display: block;
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.6;
      }
    }

    &__avatar {
      border-radius: 50%;
      margin-right: 20px;
      max-width: 65px;
      max-height: 65px;
    }

    a {

      &:hover {
        .chef-card__name {
          color: $accent;
        }
      }

      &:focus {
        .chef-card__name {
          color: $star;
        }
      }
    }

    &__name {
      margin-bottom: 6px;
      letter-spacing: -0.225px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      transition: color 0.5s;

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__position {
      letter-spacing: -0.15px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__works {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 30px;

        @include r(480) {
          margin-right: 5px;
        }
      }

    }

    &__img {
      border-radius: 2px;
      max-width: 65px;
      min-height: 65px;
      object-fit: cover;

      &--big {
        max-width: 160px;
        max-height: 65px;
        // object-fit: cover;
      }

    }
  }
}



.js__zoom-big,
.js__zoom-small {
  .js-image-zoom__zoomed-area {
    background: #000 !important;
    z-index: 200;
    height: 25px !important;
    width: 25px !important;
  }

  .js-image-zoom__zoomed-image {
    top: 73px !important;
    z-index: 200;

    left: -50px !important;
    transform: translateX(15%) !important;
    height: 200px !important;
  }
}

.js__zoom-small {
  .js-image-zoom__zoomed-image {
    transform: translateX(-67%) !important;
    @include r(667) {
      transform: translateX(-62%) !important;
    }
  }
}

.js__zoom-big,
.js__zoom-small {
  .js-image-zoom__zoomed-image {
    @include r(667) {
      width: 300px !important;
      height: 150px !important;
    }
  }
}

.js__zoom-small--1,
.js__zoom-small--3,
.js__zoom-small--5 {
  .js-image-zoom__zoomed-image {


    @include r(667) {
      transform: translateX(-40%) !important;
    }
  }
}