.dishes-card {
  position: relative;
  margin: 15px;
  max-width: 350px;

  background-color: $slider;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  @include r($width4) {
    max-width: 300px;
  }

  &__link {
    &:focus {
      .dishes-card__icon {
        &::after {
          background-color: #000;
        }
      }

      .icon {
        fill: $star;
      }

      .dishes-card__name {
        color: $star;
      }
    }

    &:hover {
      .dishes-card__img {
        opacity: 0.8;
      }

      .dishes-card__icon {
        &::after {
          background-color: #fff;
        }
      }

      .icon {
        fill: #000;
        z-index: 10;
      }

      .dishes-card__name {
        color: $accent;
      }
    }

    &:active {
      .icon {
        fill: $title;
      }

      .dishes-card__name {
        color: $bg;
      }
    }
  }

  &__img {
    max-height: 260px;
    border-radius: 6px 6px 0 0;
    transition: opacity 0.4s;
  }

  &__icon {
    position: absolute;
    top: 19px;
    right: 22px;
    z-index: 100;

    &::after {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: 40%;
      right: -76%;
      transform: translateY(-50%);

      background-color: #C0BFBF;
      opacity: 0.3;
      border-radius: 50%;

      transition: background-color 0.4s;
    }

    .icon {
      transition: fill 0.4s;

      &--curved-arrow {
        fill: #fff;
        width: 15px;
        height: 15px;
      }
    }
  }

  &__content {
    padding: 30px 24px 24px 30px;

    @include r($width4) {
      padding: 15px;
    }
  }

  &__name {
    margin-bottom: -8px;
    font-size: 32px;
    font-weight: 500;
    color: $title;
    transition: color 0.4s;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__descr {
    margin-bottom: 24px;

    letter-spacing: -0.15px;
    font-size: 12px;
    color: $dish-subtitle;

    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  &__text {
    margin-bottom: 30px;
    color: $dish-text;
    @extend %text-hiding;
    -webkit-line-clamp: 3;
  }

  &__bottom {
    display: flex;
    align-items: center;

    span {
      margin-right: 20px;

      @include r($width4) {
        margin-right: 10px;
        font-size: 13px;
      }
    }
  }

  .star {
    margin-right: 13px;

    @include r($width4) {
      margin-right: 6px;
    }
  }
}