.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.6s;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
    background-color: #000;
    z-index: 1500;

    .header__inner {
      padding: 10px 0;

      &::before {
        border: none;
      }
    }
  }

  &.active {
    background-color: #000;
  }

  &__inner {
    position: relative;
    padding: 32px 0;
    z-index: 200;

    @include r($width2){
      padding: 15px 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid #fff;
      opacity: 0.1;
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-toggle {
      display: none;

      @include r($width3) {
        display: block;
        order: 1;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 1500;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;
    transition: all 0.7s;

    @include r($width3) {
      position: absolute;
      display: block;
      margin: 0 -15px;

      background-color: $bg;
      width: 100%;
      transform: translateY(-100%);
      z-index: 1100;
    }

    &.active {
      padding-top: 130px;
      height: 100vh;

      transform: translateY(43%);
      background-color: #000;

      overflow-x: hidden;
      overflow-y: auto;

      z-index: 300;

      @include d($height1) {
        padding-top: 72px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 36px;

      @include r($width3) {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s;

    @include r($width3) {
      display: block;
      padding: 13px 0;

      text-align: center;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.5s;
    }

    &:focus {
      color: $star;
    }

    &:hover {
      color: $accent;

      @include r($width3) {
        border-bottom: 1px solid $accent;
      }
    }

    &:active {
      color: $accent-block;
    }
  }
}

.btn-toggle.open{
  transform: translateY(20%);
}

//Hamburger
.btn-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;

  cursor: pointer;
  user-select: none;

  background-color: transparent;
  border-color: transparent;
  outline: none;
  transform: translateZ(0);

  z-index: 1500;
  transition: transform 0.1s ease-out;

  &:focus .line:after {
    background-color: $toggle-line-focus-color;
  }

  &:active {
    transform: translateY(4px);
  }

  &__line {
    display: block;
    width: $toggle-size;
    padding: $toggle-line-size/2;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: $toggle-line-size;

      background-color: $accent;
      border-radius: 2px;
      transform: translateZ(0) rotate(0);
      transition: background-color 0.2s ease-out;
    }

    .open & {
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          animation: jump-#{$i} $toggle-anim-speed forwards ease;

          &:after {
            animation: line-#{$i} $toggle-anim-speed forwards ease-in-out;
          }
        }
      }
    }

    .close & {
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          animation: jump-#{$i} $toggle-anim-speed reverse ease;

          &:after {
            animation: line-#{$i} $toggle-anim-speed reverse ease-in-out;
          }
        }
      }
    }

    .open &,
    .close & {
      &:nth-child(3) {
        animation: jump-3 $toggle-anim-speed forwards ease-out;
      }
    }
  }
}