.page-top {
  position: relative;
  padding: 100px 0 82px;

  color: #fff;
  background-color: transparent;

  @include r(991) {
    padding: 75px 0;
  }

  @include r(667) {
    padding: 50px 0;
  }

  @include r(480) {
    padding: 40px 0 0;
  }

  &__bg {
    content: '';
    position: absolute;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 100vh;
    top: -12%;
    right: 0;
    z-index: 15;

    @include r(767) {
      top: -90px;
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    z-index: 100;

    a {
      &:hover {
        .page-top__title {
          color: $accent;
        }
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    font-size: 72px;
    font-weight: 300;
    letter-spacing: 0.1em;
    transition: 0.5s color;

    @extend %text-hiding;
    -webkit-line-clamp: 3;

    @include r(991) {
      font-size: 60px;
    }

    @include r(767) {
      font-size: 45px;
    }

    @include r(667) {
      font-size: 35px;
    }

    @include r(480) {
      font-size: 30px;
    }

    span {
      font-weight: 700;
    }
  }

  &__descr {
    margin: 0 auto 40px;
    max-width: 610px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.2px;

    @extend %text-hiding;
    -webkit-line-clamp: 3;

    @include r(667) {
      font-size: 14px;
    }

    span {
      text-transform: uppercase;
    }
  }

  &__link {
    margin-bottom: 112px;
    padding: 25px 50px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
    border-radius: 43px;

    color: #1A1A1A;
    background-color: $accent;
    transition: color 0.4s, background-color 0.6s;

    @include r(767) {
      margin-bottom: 60px;
    }

    @include r(480) {
      margin-bottom: 30px;
    }

    &:hover {
      background-color: $text;
      color: $star;
    }

    &:focus {
      background-color: $star;
      color: #fff;
    }

    &:active {
      background-color: $dish-text;
    }
  }

  &__address {
    position: relative;
    z-index: 90;
  }

  &__contacts {
    background-color: transparent;
  }
}