  .recipes-card {
    position: relative;
    max-width: 540px;

    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;

    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    &__link {
      padding: 72px 90px;
      display: inline-block;

      @include r($width1) {
        padding: 72px 25px;
      }

      @include r($width4) {
        padding: 40px 15px;
      }

      &:focus {
        .recipes-card__title {
          background-color: #000;
          color: $star;
        }

        .recipes-card__icon {
          opacity: 1;

          svg {
            fill: $star;
          }
        }

        .recipes-card__bottom {
          svg {
            fill: $star;
          }
        }
      }

      &:hover {
        .icon {
          fill: $accent;
        }

        .recipes-card__title {
          background-color: rgba(0, 0, 0, 1.25);
          color: $accent;
        }
      }
    }

    &--grey {
      background-color: $slider;
      background-image: none;
      transition: background-color 0.5s;

      &:hover {
        background-color: $accent;
      }

      .recipes-card__link {
        padding: 32px 30px 24px;
        transition: color 0.5s;

        @include r($width4) {
          padding: 20px;
        }

        &:hover {
          color: $slider;

          .icon {
            fill: $slider;
          }
        }
      }

      .recipes-card__text {
        font-size: 16px;
        line-height: 1.9;
        text-align: left;
        margin-bottom: 10px;

        @include r($width4) {
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 20px;
        }
      }

      .recipes-card__bottom {
        justify-content: space-between;
        flex-wrap: wrap;

        @include r($width4) {
          flex-direction: column;
        }
      }

      .recipes-card__left {
        display: flex;
        align-items: center;

        @include r($width4) {
          margin-bottom: 20px;
          justify-content: flex-end;
        }
      }

      .recipes-card__title {
        margin-right: 15px;
        margin-bottom: 0;
      }

      .recipes-card__time {
        margin-bottom: 0;
      }

      .recipes-card__right {
        display: flex;

        @include r($width4) {
          justify-content: flex-end;
        }
      }
    }

    &--image {
      position: relative;
      background-color: transparent;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        border-radius: 6px;
      }

      .recipes-card__link {
        position: relative;
        z-index: 100;

        &:hover {
          color: #fff;

          .icon {
            fill: $accent;
          }
        }
      }
    }

    &__icon {
      position: absolute;
      top: 30px;
      right: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 13px;

      border-radius: 50%;
      background-color: #000;
      opacity: 0.3;
      border: none;

      @include r($width4) {
        right: 14px;
      }
    }

    &__title {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 70px;
      padding: 8px 14px 6px;

      text-transform: uppercase;
      font-size: 10px;

      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      transition: all 0.5s;
    }

    &__time {
      margin-bottom: 25px;

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__text {
      margin-bottom: 45px;

      font-size: 24px;
      line-height: 1.7;

      @extend %text-hiding;
      -webkit-line-clamp: 3;

      @include r($width4) {
        font-size: 17px;
      }
    }

    &__author {
      margin-bottom: 70px;

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__bottom {
      display: flex;
      justify-content: center;
    }

    &__view {
      margin-right: 30px;
      display: flex;
      align-items: center;
    }

    &__numbers {
      margin-left: 12px;
    }

    &__comments {
      display: flex;
      align-items: center;
    }

    .icon {
      fill: #fff;
      transition: fill 0.5s;

      &--arrow {
        width: 13px;
        height: 13px;
      }

      &--view {
        width: 22px;
        height: 15px;
      }

      &--chat {
        width: 20px;
        height: 20px;
      }
    }
  }