.recipes {
  padding-bottom: 120px;
  background-color: $bg;

  @include r($width3) {
    padding-bottom: 80px;
  }

  @include r($width4) {
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 120px;

    @include r($width3) {
      margin-bottom: 80px;
    }

    @include r($width4) {
      margin-bottom: 50px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @include r($width2) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    grid-row: span 1;

    @include r($width2) {
      align-self: center;
      justify-self: center;
    }

    &:nth-child(1) {
      grid-row: span 3;
    }
  }
}