.social {
  padding-bottom: 116px;
  background-color: $bg;

  @include r($width3) {
    padding-bottom: 80px;
  }

  @include r($width4) {
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 -15px;
  }
}


