.social {
  padding-bottom: 116px;
  background-color: $bg;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    // justify-content: space-between;
    margin: 0 -15px;
  }

  .social-card {
    margin: 0 15px;
    min-width: 350px;
    min-height: 330px;
    padding: 26px 24px 16px 30px;
    background-color: $slider;
    position: relative;
    font-weight: 500;
    border-radius: 6px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.8;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 88px;
      border-bottom: 2px solid #303030;
      width: 100%;
    }

    &--middle {

      .social-card__top {
        margin-bottom: 0;
        padding-bottom: 20px;
      }

      .recipes-card__icon {
        padding: 13px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        position: absolute;
        top: 39%;
        right: 50%;
        transform: translateX(50%);
        opacity: 1;
        fill: #fff;
        z-index: 100;
        transition: all 0.6s;
      }

      .social-card__link {
        &:hover {
          .recipes-card__icon {
            fill: #000;
            background-color: $accent;
          }
        }

        &:focus {
          .recipes-card__icon {
            fill: #fff;
            background-color: $star;
          }
        }

        &:active {
          .recipes-card__icon {
            background-color: $dish-subtitle;
          }
        }
      }

      .social-card__list {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: 240px;
        min-width: 350px;
        position: absolute;
        left: 0;
        right: -5px;
        bottom: 0;

        border-radius: 0px 0px 6px 6px;
      }

      .social-card__img {
        max-width: 120px;
        max-height: 120px;
      }
    }

    &__top {
      padding-bottom: 25px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    &__bottom {
  
      margin-right: -15px;
    }

    &__link {
      fill: #fff;
      transition: all 0.5s;

      &:hover {
        color: $accent;
        fill: $accent;

        .social-card__icon {
          border-color: $accent;
        }
      }

      &:focus {
        fill: $star;
        color: $star;

        .social-card__icon {
          border-color: $star;
        }
      }

      &:active {
        fill: #000;
        color: #000;

        .social-card__icon {
          border-color: #000;
        }
      }
    }

    &__icon {
      border-radius: 50%;
      border: 2px solid #303030;
      padding: 10px;
      margin-right: 20px;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;

      .icon {
        &--tw {
          width: 16px;
          height: 14px;
        }

        &--insta {
          width: 18px;
          height: 18px;
        }

        &--fb {
          width: 17px;
          height: 17px;
        }

        // &--arrow {
        //   width: 14px;
        //   height: 14px;
        // }
      }
    }

    &__btn {
      // @extend %btn;
      padding: 13px 16px 10px;
    }

    &__time {
      font-size: 14px;
      color: #737373;
      margin-bottom: 26px;
      display: block;
    }

    &__text {
      font-size: 14px;
      line-height: 1.9;
      overflow-y: auto;
      max-height: 108px;
      &--full{
        max-height: 150px;
      }
    }
  }
}

.scroll-container {
  // position: absolute;
  // left: 10px;

  max-height: 90px;

  &--small {
    margin-bottom: 34px;
  }

  &--gallery{
    // margin-left: -10px;
    // position: absolute;
    // right: 10px;
  }

  ::-webkit-scrollbar {
    width: 5px;
 

  }

  ::-webkit-scrollbar-track {
    height: 200px;
    background: transparent;
    // box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
  }

  ::-webkit-scrollbar-thumb {
    // background: #303030;
    height: 90px;
    border-radius: 8px;
    border: 5px solid #303030;
  }

  // ::-webkit-scrollbar-thumb:hover {
  //   background: #7c7c7c;
  // }
}