.work {
  padding-bottom: 120px;
  background-color: $bg;

  @include r($width3) {
    padding-bottom: 80px;
  }

  @include r($width4) {
    padding-bottom: 30px;
  }

  h3 {
    @extend %text-hiding;
    -webkit-line-clamp: 1;
  }

  p {
    @extend %text-hiding;
    -webkit-line-clamp: 3;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;

    flex-wrap: wrap;
    margin: 0 -15px;

    @include r($width1) {
      justify-content: space-evenly;
    }
  }

  &__item {
    max-width: 253px;
    max-height: 206px;
    margin: 0 15px;

    @include r($width1) {
      margin-bottom: 30px;
    }
  }

  &__link {
    display: block;
    padding: 24px 24px 44px;
    background-color: $slider;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: all 0.6s;

    &:focus {
      background-color: $star;
    }

    &:hover {
      background-color: $accent;

      .work__name {
        color: $bg;

        &::before {
          border-color: $bg;
        }
      }

      .work__text {
        color: $bg;
      }
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: #fff;
    transition: color 0.6s;

    &::before {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 0;
      border-bottom: 2px solid $accent;
      width: 56px;
      transition: border-color 0.6s;
    }
  }

  &__text {
    letter-spacing: -0.1625px;
    transition: color 0.6s;
  }
}